<div class="container mt-4">
  <div class="row">
    <h3> Listado de estudiantes (ngFor)</h3>
  </div>
  <br>
  <!-- Añadimos la directiva ngIf para validar que cuando no haya ningun elemento en la lista no se muestre nada de la tabla -->
  <table class="table" title="tabla" *ngIf="listStudents.length > 0 ">
    <thead>
      <th>N#</th>
      <th>Nombre</th>
      <th>Estado</th>
    </thead>
    <tbody>
      <tr *ngFor="let estudiantes of listStudents; let i = index">
        <td>{{i+1}}</td>
        <td>{{estudiantes.nombre}}</td>
        <!-- <td [ngStyle]="{'color': estudiantes.estado === 'retirado' ? 'red' : estudiantes.estado === 'regular' ? 'orange' : estudiantes.estado === 'promocionado' ? 'green' :'black',
            'font-style': estudiantes.estado === 'retirado' ? 'italic' : 'normal' } ">
          {{estudiantes.estado}} aqui es para probar la directiva ng-style
        </td> -->
        <td>
          <span
            [ngClass]="estudiantes.estado === 'promocionado' ? 'badge text-bg-primary' : estudiantes.estado === 'regular' ? 'badge text-bg-success' : estudiantes.estado === 'retirado' ? 'badge text-bg-danger' : 'badge text-bg-info' ">
            {{estudiantes.estado}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Aqui al momento de cumplirse la condicion de arriba automaticamente se mopstrara este mensaje -->
  <h3 *ngIf="listStudents.length === 0"> No hay registros para mostrar</h3>
</div>


<!-- NgIf -->
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary me-md-2" type="button" (click)="toogle()">delete</button>
</div>
